<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @movie.title %>
</p>

<p>
  <strong>Promotion:</strong>
  <%= @movie.promotion %>
</p>

<p>
  <strong>Release:</strong>
  <%= @movie.release %>
</p>

<p>
  <strong>Image:</strong>
  <%= @movie.image %>
</p>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
