<!DOCTYPE html>
<html>
  <head>
    <title>EIBLO</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
		<header>
			<div class="header-logo">
				<%= link_to "EIBLO", "/home/top" %>
			</div>
			<% if @current_user %>
				<ul class="header-menus">
		  		<li>
    	      #link_to_unless_current image_tag() "#" 
      	  </li>
	        <li>
	          <%= link_to_unless_current "random", "#" %>
	        </li>
	        <li>
	          <%= link_to_unless_current "signup", "#" %>
	        </li>
	        <li>
	          <%= link_to_unless_current "login", "#" %>
	        </li>
				</ul>
			<% else %>
				<ul class="header-menus">
					<li>
						<%= link_to_unless_current "random" %>
					</li>
					<li>
						<%= link_to_unless_current "post", "#" %>
					</li>
					<li>
						<%= link_to_unless_current "logout" %>
					</li>
				</ul>
			<% end %>
		</header>

    <%= yield %>
  </body>
	<footer>
		<ul class="footer-menus">
			<%= %>
		</ul>
	</footer>
</html>
