<!DOCTYPE html>
<html>
  <head>
    <title>EIBLO</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
		<header>
			<div class="header-logo">
				<%= link_to "EIBLO", "/" %>
			</div>
			
				<ul class="header-menus">
				<% if @current_user %>
					<li>
    	      #link_to_unless_current image_tag() "#" 
      	  </li>
					<li>
						<%= link_to_unless_current "random" %>
					</li>
					<li>
						<%= link_to_unless_current "post", "#" %>
					</li>
					<li>
						<%= link_to_unless_current "logout" %>
					</li>
			<% else %>
	        <li>
	          <%= link_to_unless_current "random", "#" %>
	        </li>
	        <li>
	          <%= link_to_unless_current "signup", new_user_registration_path %>
	        </li>
	        <li>
	          <%= link_to_unless_current "login", "#" %>
	        </li>
				<% end %>
			</ul>
		</header>

   		<%= yield %>
  </body>
</html>
